.etats{
  height: 45px;
  border: 1px solid;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.__gagne_alert_overlay__{
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  margin: 0;
}
.__g_alert__{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.__btnss__{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.__btnss__ button{
    padding: 7px;
    margin: 5px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: wheat;
    background: #112387;
    cursor: pointer;
}
@media screen and (min-width:992px) {
    .etats{
        width: var(--width-1);
    }
    .__g_alert__{
        width: 40%;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .etats{
        width: var(--width-2);
    }
    .__g_alert__{
        width: 50%;
    }
}

@media screen and (max-width:767px) {
    .etats{
        width: var(--width-3);
    }
    .__g_alert__{
        width: 60%;
    }
}

@media screen and (max-width:500px) {
    .etats{
        width: var(--width-3);
    }
    .__g_alert__{
        width: 80%;
    }
}