.container{
    height: 500px;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (min-width:992px) {
    .container{
        width: var(--width-1);
        height: var(--width-1);
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .container{
        width: var(--width-2);
        height: var(--width-2);
    }
}

@media screen and (max-width:767px) {
    .container{
        width: var(--width-3);
        height: var(--width-3);
    }
}

