
.controls{
    height: 45px;
    border: 1px solid;
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (min-width:992px) {
    .controls{
        width: var(--width-1);
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .controls{
        width: var(--width-2);
    }
}

@media screen and (max-width:767px) {
    .controls{
        width: var(--width-3);
    }
}

.niveau{
    background-color: transparent;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    font-family: cursive;
    cursor: pointer;
    color: white;
}
.niveau option{
    color: black;
    cursor: pointer;
    outline: none;
    border: none;
    font-family: cursive;
}
#reboot{
    padding: 5px;
    outline: none;
    border-radius: 5px;
    font-family: cursive;
    cursor: pointer;
}