*{
  transition: all .3s;
}

:root{
  --width-1:500px;
  --width-2:400px;
  --width-3:300px;
  --back-col:rgb(83, 110, 47);
  --text-col:rgb(223, 223, 252);
  --font1:cursive;
}
html{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body{
  width: 100%;
  height: 100%;
  background-color: var(--back-col);
  color: var(--text-col);
  font-family: var(--font1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
